.car{
    width: 46%;
    height: 200px;
    text-align: left;
    margin: 2%;
    display: inline-flex;
    cursor: pointer;
    background-color: beige;
}
.car.selected{
    background-color: rgb(140, 177, 247);
}
.car-image{
    width: 260px;
    height: 180px;
    background-color: white;
    margin: 10px;
    text-align: center;
}
img{
    align: center;
    max-width:100%;
    max-height:100%;
}